{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="margin-top: 2em">
        Jump to curriculum:
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select programme
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {%  for p in programmes %}
                <a class="dropdown-item" href="{% url 'curriculum' programme=p.code %}">{{ p.name }}</a>
                {%  endfor %}
            </div>
        </div>

</ul>

    </div>

{% endblock %}