<p>Dear {% if user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %},</p>

<p>Here is the {% if action == 'LINK' %}one-time login{%  else %}password reset{% endif %} link for DejaVU you requested:</p>

<p>
{% if action == 'LINK' %}
{{ protocol }}://{{ domain }}{% url 'login-token' uidb64=uid token=token %}?next={{ next|urlencode }}
{%  else %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{%  endif %}
</p>

<p>Thank you for using DejaVU!</p>

<p>-- Wouter</p>
<p>Note: if you didn't request this link, please ignore this email</p>