{% extends "base.html" %}

{% block content %}
<div class="jumbotron" style="margin-top: 2em">
<h1>Forgot your password?</h1>
  <p>Enter your VUnetID below, and we can email you a one-time login link or help you reset your password.</p>

  <form method="POST">
    {% csrf_token %}


    <div class="form-group row">
    <label for="id_username" class="col-form-label col-sm-2">VUnetID</label>
            <div class="col-sm-10">{{ form.email }}
            </div>
    </div>


    <input class="btn btn-primary" type="submit" value="Send Login Link">
    <input class="btn btn-danger" type="submit" value="Reset password">
  </form>

</div>

{%  endblock %}